<%= render 'shared/error_messages', :target => message %>

<div class="row">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
</div>

<div class="row">
    <%= f.label :body %>
    <%= f.text_area :body %>
</div>
