  <%= render 'shared/error_messages', :target => message %>

  <tr><td class="label"><%= f.label :subject %></td><td><%= f.text_field :subject %></td></tr>
  <tr><td class="label"><%= f.label :body %></td><td><%= f.text_area :body, :cols => 90, :rows => 20 %></td></tr>
