<div class="parent">
    <%= render 'decorators/message', :message => @parent, :dont_render_responses => true %>
</div>

<div class="preview"></div>

<div class="response">
    <%= form_for @message, :url => group_topic_messages_path(@group, @topic, params.slice(:parent)) do |f| %>
        <table class="form-table">
        <%= render 'messages/form', :message => @message, :f => f %>
        
        <tr><td class="button" colspan=2><%= f.submit %>  or  <%= link_to 'Cancel', group_topic_path(@group, @topic) %></td></tr>
        </table>
    <%- end -%>
</div>
