<div class="message">
    <div class="header">
        <h3 class="subject"><%= message.subject %></h3>
        <p>
            <span class="author"><%= message.author_name %></span>
            <span class="date">at <%= I18n.l(message.created_at) %></span>
        </p>
    </div>
    <div class="body"><%= render_message_body(message.body).html_safe %></div>
    <%- if message.responses.any? -%>
    <ul class="responses">
        <%- message.responses.each do |response| -%>
        <li class="response">
            <%= render 'message', :message => response %>
        </li>
        <%- end -%>
    </ul>
    <%- end -%>
</div>