<% content_for :header_menu do %>
    <ul class="bold">
        <li><%= link_to "Groupes de discussion", groups_path %></li>
        <li>></li>
        <li><%= link_to @group.name, groups_path %></li>
    </ul>
<% end %>

<%= link_to 'New topic', new_group_topic_path(@group), :class => "button-link" %>

<%= render :partial => 'shared/pagination' if paginator.per_page > 20 %>

<ul class="topics-list">
    <%- @topics.each do |topic| -%>
        <li><%= link_to topic.subject, group_topic_path(@group, topic) %></li>
    <%- end -%>
</ul>

<%= render :partial => 'shared/pagination' %>
