<% content_for :header_menu do %>
    <ul>
        <li><%= link_to "Discussion groups", groups_path %></li>
        <li>></li>
        <li><%= @group.name %></li>
    </ul>
<% end %>

<% content_for :content_title do %>
    <h2><%= @group.name %></h2>
<% end %>

<% content_for :actions_list do %>
    <ul>
        <li>
            <%= link_to new_group_topic_path(@group), :class => "button-link" do %>
                <img src="/images/add_icon.png" width="16" /> Create a topic
            <% end %>
        </li>
    </ul>
<% end %>

<%= render :partial => 'shared/pagination' if paginator.per_page > 20 %>
<ul class="topics-list">
    <%- @topics.each do |topic| -%>
        <li><%= link_to truncate(topic.subject, :length => 65), group_topic_path(@group, topic), :title => topic.subject %></li>
    <%- end -%>
</ul>
<%= render :partial => 'shared/pagination' %>
