<% content_for :header_menu do %>
    <ul>
        <li><%= link_to "Discussion groups", groups_path %></li>
        <li>></li>
        <li><%= link_to @group.name, group_topics_path(@group) %></li>
        <li>></li>
        <li>New topic</li>
    </ul>
<% end %>

<% content_for :content_title do %>
    <h2>New Topic</h2>
<% end %>

<div class="topic new">
    <%= form_for @topic, :url => group_topics_path(@group, @topic) do |f| %>
        <table class="form-table">
        <%= render 'messages/form', :message => @topic, :f => f %>
        
        <tr><td class="button" colspan=2><%= f.submit %>  or  <%= link_to 'Cancel', group_topics_path(@group) %></td></tr>
        </table>
        
    <%- end -%>
</div>
