  <tr><td class="label"><%= f.label :hostname %></td><td><%= f.text_field :hostname %></td></tr>
  <tr><td class="label"><%= f.label :port %></td><td><%= f.number_field :port, :min => 1, :max => 2 ** 16 %></td></tr>
  <tr><td class="label"><%= f.label :user %></td><td><%= f.text_field :user %></td></tr>
  <tr><td class="label"><%= f.label :secret %></td><td><%= f.text_field :secret %></td></tr>
