<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>agRORa - un client l&eacute;ger Usenet</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<%= body_tag %>
  <div id="header">
    <div id="header-title">
      <%= link_to root_path, :title => "agRORa's Home" do %>
        <img id="agrora-logo" src="/images/agRORa_icon.png" height="80" /> ag<span class="bold" style="font-size: 1.5em;">ROR</span>a
      <% end %>
    </div>
  </div>
  <div id="sub-header-menu" class="bold">
    <%= yield :header_menu %>
    <%= render 'shared/session_frame' %>
  </div>
  <div id="wrapper">
    <div id="main-content" class="shadow-left-right">
      <% if flash[:notice] %>
        <div class="notifications shadow-right-bottom">
          <p class="notice"><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="notifications shadow-right-bottom">
          <p style="error"><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= yield :content_title %>
      <div class="actions-list">
        <%= yield :actions_list %>
        <div style="clear: both;">&nbsp;</div>
      </div>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div id="footer-content">
      &copy; Groupe <a href="https://github.com/byroot/agrora" target="_blank">ag<span style="font-size: 1.3em;">ROR</span>a</a> - 2011 | <a href="http://www.insia.org" target="_blank">INSIA</a>
    </div>
    <div id="footer-decorator" class="shadow-left-right-bottom">&nbsp;</div>
  </div>
</body>
</html>
