<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>agRORa - un client l&eacute;ger Usenet</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<%= body_tag %>
  <div id="header">
    <div id="header-title">
      <%= link_to(root_path) do %>
        ag<span class="bold" style="font-size: 1.5em;">ROR</span>a
      <% end %>
    </div>
  </div>
  <div id="sub-header-menu">
    <%= render 'shared/session_frame' %>
  </div>
  <div id="wrapper">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p style="error"><%= flash[:error] %></p>
    <% end %>
  
    <%= yield %>
  </div>
  <div id="footer">&copy; Groupe <span class="bold">agRORa</span> - 2011 | INSIA</div>
</body>
</html>
