<!DOCTYPE html>
<html>
<head>
  <title>Agrora</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache => true, :recursive => true %>
  <%= csrf_meta_tag %>
</head>
<%= body_tag %>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p style="error"><%= flash[:error] %></p>
  <% end %>

<%= yield %>

</body>
</html>
